.container {
  display: flex;
  min-height: 100svh; /* 모바일 주소창 대응 */
}

/* 파란영역 */
.logoInner {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--color-brand-primary);
  justify-content: center;
  align-items: center;
  gap: 36px;
}

.logoTitle {
  color: var(--color-white);
  font-weight: 600;
  line-height: 24px;
  font-size: 20px;
}

.logoInner svg {
  width: 100%;
  height: auto; /*화면 크기에 따라 로고 비율 유지*/
}

.signUpForm {
  background-color: var(--color-white);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll; /* 스크롤 기능 유지 */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE, Edge Legacy */
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .logo {
    width: 100%;
    height: 100svh;
  }
}
