.title {
  display: flex;
  justify-content: center;
  font-weight: 700;
  line-height: 1;
  font-size: 72px;
  padding-bottom: clamp(1rem, 6vh, 5rem);
  white-space: nowrap;
}

.titleDefault {
  color: var(--color-brand-primary-30);
}

.titleRunning {
  color: var(--color-primary-900);
}

.timerContainer {
  display: flex;
  justify-content: center;
  height: auto;
}

.dot {
  box-sizing: border-box;
  padding: 1rem 2rem;
  font-family: "pretendard", sans-serif;
  font-size: 10rem; /* 160px */
  line-height: 1; /* 200px */
  color: var(--color-brand-primary);
}

.buttonContainer {
  display: flex;
  padding-top: clamp(4rem, 10vh, 7rem);
}

.buttonWrap {
  box-sizing: border-box;
  display: flex;
  flex: 3;
  justify-content: flex-end;
  width: 24rem;
}
.playButtonField {
  display: flex;
  gap: 3.5rem;
  justify-content: flex-end;
}

.iconWrap {
  display: flex;
  flex: 1;
  gap: 2rem;
  margin-left: 5rem;
}
.iconField {
  display: flex;
  gap: 5rem;
  flex: 1;
  cursor: pointer;
  display: inline-flex; /* 핵심 */
  justify-content: center;
  align-items: center;
}

.iconContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
