.goal {
  color: var(--color-white);
  font-family: "Pretendard";
  font-size: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  flex: 1; /* 남은 공간 전체 차지 */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 1.5rem; /* input과 높이 맞춤 */
  word-break: break-all; /* 긴 글자 줄바꿈 */
}

.goalInput {
  flex: 1;
  margin-left: 1rem;
  padding: 0.5rem 0;
  padding-right: 0.5rem;
  background-color: transparent;
  color: var(--color-white);
  border: none;
  border-radius: 4px;
  font-family: "Pretendard";
  font-size: 1rem;
  outline: none;
}

/* 포커스 되었을 때 (입력 중일 때) 테두리 강조 */
.goalInput:focus {
  border: none;
  background-color: transparent; /* 살짝 밝아지는 효과 */
}

/* 플레이스홀더(힌트) 색상 조절 */
.goalInput::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.goalField {
  border-radius: 8px;
  min-height: 4.5rem;
  display: flex;
  align-items: center;
}

.doingGoal {
  background-color: var(--color-brand-primary);
}

.doneGoal {
  background-color: var(--color-gray-400);
}

.goalSymbol {
  padding-left: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0; /* 부모 크기가 줄어들어도 아이콘이 찌그러지지 않음 */
  width: 42px !important;
  height: 20px !important;
}

.goalButtonField {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-right: 1.2rem;
}
.iconButton {
  cursor: pointer;
}

/* 기존 focus 제거 */
.iconButton:focus {
  box-shadow: none;
}

/* 마우스 누르고 있는 동안만 */
.iconButton:active:not(:disabled) {
  box-shadow: 0 0 0 1.5px var(--btn-border-focus);
}

/* disabled */
.iconButton:disabled {
  cursor: not-allowed;
  box-shadow: none;
}
