.label {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--color-gray-600);
  margin-bottom: 8px;
}

.normalSizeInput {
  background-color: var(--color-gray-100);
  border: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 18px 24px;
  /* transition: border-color 0.2s;  */
}

.largeSizeInput {
  width: 100%;
  border: none;
  font-weight: 700;
  font-style: Bold;
  font-size: 36px;
  line-height: 46px;
  margin-bottom: 2rem;
  transition: border-color 0.2s;
}

.largeSizeInput::placeholder {
  color: var(--color-gray-300);
}

.inputWrapper {
  min-width: 568px;
  display: flex;
}

.input {
  flex: 1;
}

.input:focus {
  outline: none;
  color: var(--color-gray-600);
}

.addButton {
  padding: 18px;
  cursor: pointer;
  border: none;
  background-color: var(--color-gray-100);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.buttonActive {
  color: var(--color-brand-primary);
}
