.container {
  display: flex;
  height: 100vh;
}

.logo {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--color-brand-primary);
  justify-content: center;
  align-items: center;
  gap: 36px;
}

.signUpBtn {
  display: flex;
  width: 100%;
}

.signUpBtn > button {
  flex: 1;
}

.logoTitle {
  color: var(--color-white);
  font-weight: 600;
  line-height: 24px;
  font-size: 20px;
}

.formTitle {
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--color-brand-primary);
}

.signUpForm {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 실제 여백은 여기 */
.formInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* padding-left: 270px;
  padding-right: 270px;
  padding-top: 140px;
  padding-bottom: 150px; */
}

.term {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--color-gray-600);
}

.termContent {
  box-sizing: border-box; /* ⭐ 핵심 */
  background-color: var(--color-gray-50);
  border-radius: 5px;
  width: 420px;
  height: 110px;
  padding: 12px 16px;
  overflow-y: scroll; /* 스크롤 기능 유지 */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE, Edge Legacy */
  margin-bottom: 36px;
  font-family: Pretendard;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-gray-600);
}

/* Chrome, Safari, Edge (Chromium) */
.termContent::-webkit-scrollbar {
  display: none;
}
