@import "tailwindcss";

/* global.css */
@utility hide-scrollbar {
  /* Chrome, Safari, Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  /* Firefox */
  scrollbar-width: none;
  /* IE and Edge */
  -ms-overflow-style: none;
}

@theme {
  /* Brand Primary */
  --font-pretendard: var(--font-pretendard), sans-serif;
  --font-digital: var(--font-digital), sans-serif;
  --color-brand-primary: #4c79ff;

  /* Color scale */
  --color-primary-500: var(--color-brand-primary);
  --color-primary-900: #023e99;

  /* Feedback */
  --color-feedback-informative: #2563eb;
  --color-feedback-negative: #dc2626;
  --color-feedback-positive: #22c55e;

  /* Gray */
  --color-white: #ffffff;
  --color-gray-50: #f9fafb;
  --color-gray-100: #f0f2f5;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #ccd0d6;
  --color-gray-400: #969da8;
  --color-gray-500: #717887;
  --color-gray-600: #4b5563;
  --color-gray-700: #394252;
  --color-gray-800: #1f2937;

  /** Color Mix */
  --color-login-bg: color-mix(in srgb, var(--color-white) 50%, transparent);
  --color-white-mix-50: color-mix(in srgb, var(--color-white) 50%, transparent);

  /* Common */
  --color-disabled-bg: var(--color-gray-200);
  --color-primary-light: var(--color-brand-primary-10);

  /* Focus / Accessibility */
  --color-focus-ring: #ff47ff;
  --btn-border-focus: var(--color-focus-ring);

  /* State (computed values only) */
  --state-hover-bg: var(--color-brand-primary-10);
  --state-active-bg: var(--color-brand-primary-30);
  --state-focus: var(--color-brand-primary);

  /* State overlay */
  --state-hover-overlay: rgba(0, 0, 0, 0.1);
  --state-active-overlay: rgba(0, 0, 0, 0.2);

  /* Shadow */
  --shadow-1: rgba(0, 0, 0, 0.08);
  --shadow-2: rgba(0, 0, 0, 0.05);

  /* Button - Primary */
  --btn-primary-bg: var(--color-brand-primary);
  --btn-primary-hover-bg:
    linear-gradient(0deg, var(--color-brand-primary), var(--color-brand-primary)),
    linear-gradient(0deg, var(--state-hover-overlay), var(--state-hover-overlay));
  --btn-primary-active-bg:
    linear-gradient(0deg, var(--color-brand-primary), var(--color-brand-primary)),
    linear-gradient(0deg, var(--state-active-overlay), var(--state-active-overlay));
  --btn-primary-focus-bg: var(--color-brand-primary);
  --btn-primary-disabled-bg: var(--color-gray-400);
  --btn-primary-text: var(--color-white);
  --btn-primary-disabled-text: var(--color-gray-300);

  /* Button - Secondary */
  --btn-secondary-bg: var(--color-primary-light);
  --btn-secondary-focus-bg: var(--color-primary-light);
  --btn-secondary-disabled-bg: var(--color-disabled-bg);
  --btn-secondary-text: var(--color-brand-primary);
  --btn-secondary-disabled-text: var(--color-gray-400);

  /* Button - Tertiary */
  --color-tertiary: var(--color-gray-50);
  --btn-tertiary-bg: var(--color-tertiary);
  --btn-tertiary-focus-bg: var(--color-tertiary);
  --btn-tertiary-disabled-bg: var(--color-disabled-bg);
  --btn-tertiary-text: var(--color-brand-primary);
  --btn-tertiary-disabled-text: var(--color-gray-400);

  /* Text Field */
  --input-text-field-bg: var(--color-gray-50);
  --input-text-field-text: var(--color-gray-600);
  --input-text-field-focus-text: var(--color-gray-800);
  --input-text-field-placeholder-text: var(--color-gray-300);
  --btn-text-field-bg: var(--color-primary-light);
  --btn-text-field-disabled-bg: var(--color-gray-200);
  --btn-text-field-focus-bg: var(--color-primary-light);
  --btn-text-field-hover-bg: var(--state-hover-bg);
  --btn-text-field-active-bg: var(--state-active-bg);
  --btn-text-field-text: var(--color-brand-primary);
  --btn-text-field-disabled-text: var(--color-gray-400);

  --color-active-link: var(--color-brand-primary);
  /* --background-image-main-layout: linear-gradient(180deg, #ffffff 0%, #f0f2f9 40%, #e2e5f0 100%); */
  --background-image-main-layout: linear-gradient(180deg, #ffffff 0%, #dfe4f2 50%, #b8c1d9 100%);

  /* heatmap - 공부 시간 바다*/
  --color-heatmap0: var(--color-gray-50);
  --color-heatmap1: #b8caff;
  --color-heatmap2: #87a6ff;
  --color-heatmap3: var(--color-brand-primary);
  --color-heatmap4: #1e50e5;
  --color-heatmap5: #023e99;

  /* table - 학습 기록 */
  --color-table-header: #4c79ff1a;

  /* 변수명 앞에 'background-image-'를 붙이면 bg- 접두사와 자동 연결됩니다. */
  --background-image-timer-block: linear-gradient(
    135deg,
    rgba(76, 121, 255, 0) 0%,
    rgba(76, 121, 255, 0.2) 100%
  );
  --color-brand-primary-10: color-mix(in srgb, var(--color-brand-primary) 10%, transparent);
  --color-brand-primary-20: color-mix(in srgb, var(--color-brand-primary) 20%, transparent);
  --color-brand-primary-30: color-mix(in srgb, var(--color-brand-primary) 30%, transparent);

  --btn-secondary-hover-bg:
    linear-gradient(0deg, var(--color-primary-light), var(--color-primary-light)),
    linear-gradient(0deg, var(--state-hover-overlay), var(--state-hover-overlay));

  --btn-secondary-active-bg:
    linear-gradient(0deg, var(--color-primary-light), var(--color-primary-light)),
    linear-gradient(0deg, var(--state-hover-overlay), var(--state-hover-overlay));

  --btn-tertiary-hover-bg:
    linear-gradient(0deg, var(--color-tertiary), var(--color-tertiary)),
    linear-gradient(0deg, var(--state-hover-overlay), var(--state-hover-overlay));

  --btn-tertiary-active-bg:
    linear-gradient(0deg, var(--color-tertiary), var(--color-tertiary)),
    linear-gradient(0deg, var(--state-active-overlay), var(--state-active-overlay));

  --btn-text-field-active-bg:
    linear-gradient(0deg, var(--color-brand-primary-10), var(--color-brand-primary-10)),
    linear-gradient(0deg, var(--state-active-overlay), var(--state-active-overlay));

  /* Gradient */
  --bg-gradient-primary: linear-gradient(
    119.36deg,
    var(--color-primary-500) 0%,
    var(--color-primary-900) 100%
  );
}
