.formInner {
  background-color: var(--color-white);
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  /* max-width: 420px; */
  max-width: 50vh;
  max-height: 80vh;
  padding: 0px 2rem;
  /* overflow-y: scroll; /* 스크롤 기능 유지 */
  /* scrollbar-width: none; /* Firefox */
  /* -ms-overflow-style: none; /* IE, Edge Legacy */
}
.formTitle {
  font-weight: 700;
  font-style: Bold;
  font-size: 1.3rem;
  line-height: 2rem;
  text-align: center;
  width: 100%;
  color: var(--color-brand-primary);
}

.footerAction {
  display: flex;
  flex-direction: column;
}
