.checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid var(--color-brand-primary);
  border-radius: 5px;
  box-sizing: border-box;
  appearance: none;
  cursor: pointer;
  display: grid;
  place-content: center;
  background: transparent;
}

.checkbox::after {
  content: '';
  width: 4px;
  height: 7px;
  border-right: 2px solid var(--color-brand-primary);
  border-bottom: 2px solid var(--color-brand-primary);
  transform: rotate(45deg);
  opacity: 0;
}

.checkbox:checked {
  background: color-mix(in srgb, var(--color-brand-primary) 20%, transparent);
}

.checkbox:checked::after {
  width: 3.5px;
  height: 6px;
  border-radius: 1px;
  opacity: 1;
}

.checked {
  color: var(--color-brand-primary);
}

.unchecked {
  color: var(--color-brand-primary-30);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
