.inputBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  user-select: none;
}

.input {
  flex: 1;
  min-width: 0;
  height: 44px;
  padding: 12px 16px;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 14px; /* Figma Text 기준 */
  line-height: 20px; /* Figma Text height */
  background-color: var(--input-text-field-bg);
  border: 1px solid transparent;
  outline: none;
  color: var(--input-text-field-text);
}

.feedback {
  user-select: none;
  min-height: 1rem;
  line-height: 1rem;
  font-weight: 500;
  font-size: 12px;
  opacity: 1;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

.negativeBorder {
  border: 1px solid var(--color-feedback-negative);
}

.input::placeholder {
  color: var(--color-gray-300);
}

.informative {
  color: var(--color-feedback-informative);
}

.negative {
  color: var(--color-feedback-negative);
}

.positive {
  color: var(--color-feedback-positive);
}
