.button {
  width: 100%; /* slot기준 100 */
  height: 44px;
  padding: 12px 16px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  border: none;
  background: var(--btn-text-field-bg);
  color: var(--btn-text-field-text);
  cursor: pointer;
  outline: none;
  white-space: nowrap; /* 글자 줄바꿈 방지 */
}

/* disabled */
.button:disabled {
  cursor: not-allowed;
  background-color: var(--btn-text-field-disabled-bg);
  color: var(--btn-text-field-disabled-text);
}
/* focus */
.button:focus {
  box-shadow: 0 0 0 1.5px var(--btn-border-focus);
}

/* hover */
.button:hover:not(:disabled) {
  background-color: var(--btn-text-field-hover-bg);
}

/* active */
.button:active:not(:disabled) {
  background-color: var(--btn-text-field-active-bg);
}
