.textFieldContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  user-select: none;
}

.textField {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.input:focus {
  color: var(--input-text-field-focus-text);
}

.input::placeholder {
  color: var(--input-text-field-placeholder-text);
}

.feedback_informative {
  color: var(--color-feedback-informative);
}
.feedback_negative {
  color: var(--color-negative-informative);
}
.feedback_positive {
  color: var(--color-feedback-positive);
}
