.linkContainer {
  display: flex;
  color: var(--color-brand-primary);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  gap: 12px;
  justify-content: center;
}

.linkContainer > .bold {
  font-weight: 700;
  text-decoration: none;
  color: var(--color-brand-primary);
}
.linkContainer > .notBold {
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  color: var(--color-brand-primary);
}

.linkContainer > a:hover {
  text-decoration: underline;
}
