.linkContainer {
  display: flex;
  margin-top: 0.5rem;
  color: var(--color-brand-primary);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  gap: 12px;
  justify-content: center;
}

.linkContainer > a {
  font-weight: 700;
  text-decoration: none;
  color: var(--color-brand-primary);
}

.linkContainer > a:hover {
  text-decoration: underline;
}
