/* styles/tokens/colors.css */
:root {
  /* Brand Primary */
  --color-brand-primary: #4c79ff;
  --color-brand-primary-10: color-mix(in srgb, var(--color-brand-primary) 10%, transparent);
  --color-brand-primary-20: color-mix(in srgb, var(--color-brand-primary) 20%, transparent);
  --color-brand-primary-30: color-mix(in srgb, var(--color-brand-primary) 30%, transparent);

  --color-background: linear-gradient(180deg, #f6f7f9 0%, #e9ecf5 100%);

  /* Color scale */
  --color-primary-500: var(--color-brand-primary);
  --color-primary-900: #023e99;

  /* Gradient */
  --gradient-primary: linear-gradient(
    119.36deg,
    var(--color-primary-500) 0%,
    var(--color-primary-900) 100%
  );

  /* Feedback */
  --color-feedback-informative: #2563eb;
  --color-feedback-negative: #dc2626;
  --color-feedback-positive: #22c55e;

  /* Gray */
  --color-white: #ffffff;
  --color-gray-50: #f9fafb;
  --color-gray-100: #f0f2f5;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #ccd0d6;
  --color-gray-400: #969da8;
  --color-gray-500: #717887;
  --color-gray-600: #4b5563;
  --color-gray-700: #394252;
  --color-gray-800: #1f2937;

  /** Color Mix */
  --color-login-bg: color-mix(in srgb, var(--color-white) 50%, transparent);

  /* Common */
  --color-disabled-bg: var(--color-gray-200);
  --color-primary-light: var(--color-brand-primary-10);

  /* Focus / Accessibility */
  --color-focus-ring: #ff47ff;
  --btn-border-focus: var(--color-focus-ring);

  /* State (computed values only) */
  --state-hover-bg: var(--color-brand-primary-10);
  --state-active-bg: var(--color-brand-primary-30);
  --state-focus: var(--color-brand-primary);

  /* State overlay */
  --state-hover-overlay: rgba(0, 0, 0, 0.1);
  --state-active-overlay: rgba(0, 0, 0, 0.2);

  /* Shadow */
  --shadow-1: rgba(0, 0, 0, 0.08);
  --shadow-2: rgba(0, 0, 0, 0.05);

  /* =========================
   Button - Primary
  ========================= */

  --btn-primary-bg: var(--color-brand-primary);

  /* hover / activeëŠ” overlay gradient */
  --btn-primary-hover-bg:
    linear-gradient(0deg, var(--color-brand-primary), var(--color-brand-primary)),
    linear-gradient(0deg, var(--state-hover-overlay), var(--state-hover-overlay));

  --btn-primary-active-bg:
    linear-gradient(0deg, var(--color-brand-primary), var(--color-brand-primary)),
    linear-gradient(0deg, var(--state-active-overlay), var(--state-active-overlay));

  --btn-primary-focus-bg: var(--color-brand-primary);
  --btn-primary-disabled-bg: var(--color-gray-400);

  /* text */
  --btn-primary-text: var(--color-white);
  --btn-primary-disabled-text: var(--color-gray-300);

  /* =========================
   Button - Secondary
  ========================= */

  --btn-secondary-bg: var(--color-primary-light);
  --btn-secondary-hover-bg:
    linear-gradient(0deg, var(--color-primary-light), var(--color-primary-light)),
    linear-gradient(0deg, var(--state-hover-overlay), var(--state-hover-overlay));
  --btn-secondary-active-bg:
    linear-gradient(0deg, var(--color-primary-light), var(--color-primary-light)),
    linear-gradient(0deg, var(--state-hover-overlay), var(--state-hover-overlay));
  --btn-secondary-focus-bg: var(--color-primary-light);
  --btn-secondary-disabled-bg: var(--color-disabled-bg);

  /* text */
  --btn-secondary-text: var(--color-brand-primary);
  --btn-secondary-disabled-text: var(--color-gray-400);

  /* =========================
   Button - Tertiary
  ========================= */
  --color-tertiary: var(--color-gray-50);
  --btn-tertiary-bg: var(--color-tertiary);
  --btn-tertiary-hover-bg:
    linear-gradient(0deg, var(--color-tertiary), var(--color-tertiary)),
    linear-gradient(0deg, var(--state-hover-overlay), var(--state-hover-overlay));
  --btn-tertiary-active-bg:
    linear-gradient(0deg, var(--color-tertiary), var(--color-tertiary)),
    linear-gradient(0deg, var(--state-active-overlay), var(--state-active-overlay));

  --btn-tertiary-focus-bg: var(--color-tertiary);
  --btn-tertiary-disabled-bg: var(--color-disabled-bg);

  /* text */
  --btn-tertiary-text: var(--color-brand-primary);
  --btn-tertiary-disabled-text: var(--color-gray-400);

  /* Text Field - Input */
  --input-text-field-bg: var(--color-gray-50);
  --input-text-field-text: var(--color-gray-600);
  --input-text-field-focus-text: var(--color-gray-800);
  --input-text-field-placeholder-text: var(--color-gray-300);

  /* Text Field - Button */
  /* enabled disabled hover active focus */
  --btn-text-field-bg: var(--color-primary-light);
  --btn-text-field-disabled-bg: var(--color-gray-200);
  --btn-text-field-focus-bg: var(--color-primary-light);
  --btn-text-field-hover-bg: var(--state-hover-bg);
  --btn-text-field-active-bg: var(--state-active-bg);

  --btn-text-field-hover-bg:
    linear-gradient(0deg, var(--color-brand-primary-10), var(--color-brand-primary-10)),
    linear-gradient(0deg, var(--state-hover-overlay), var(--state-hover-overlay));
  --btn-text-field-active-bg:
    linear-gradient(0deg, var(--color-brand-primary-10), var(--color-brand-primary-10)),
    linear-gradient(0deg, var(--state-active-overlay), var(--state-active-overlay));

  --btn-text-field-text: var(--color-brand-primary);
  --btn-text-field-disabled-text: var(--color-gray-400);
}
