.termForm {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  margin-bottom: 0.4rem;
  font-weight: 500;
  font-size: 14px;
  line-height: 1rem;
  color: var(--color-gray-600);
}

.termContent {
  box-sizing: border-box;
  background-color: var(--color-gray-50);
  border-radius: 5px;
  max-height: 5.7rem;
  width: 100%;
  padding: 12px 16px;
  overflow-y: scroll; /* 스크롤 기능 유지 */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE, Edge Legacy */
  margin-bottom: 3rem;
  font-family: Pretendard;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-gray-600);
  white-space: pre-line;
}

/* Chrome, Safari, Edge (Chromium) */
.termContent::-webkit-scrollbar {
  display: none;
}
