.root {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  min-height: 100dvh;
  margin: 0 auto;
  width: 80vw;
}

.headerField {
  padding-top: 1rem;
  display: flex;
}

.logoField {
  margin-right: 3rem;
  cursor: pointer;
}

.linkField {
  display: flex;
  flex: 1;
  gap: 2.3rem;
  align-items: center;
  font-weight: 600;
  size: 1rem;
  line-height: 1.5;
}

.profileField {
  display: flex;
  white-space: nowrap;
  width: auto;
  align-items: center;
  gap: 0.5rem;
}

.profileImage {
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.profileNickName {
  font-weight: 700;
  size: 1rem;
  line-height: 1.5;
  color: var(--color-primary-900);
}

.childrenField {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding-top: clamp(5rem, 10vh, 7rem);
  padding-bottom: clamp(5rem, 10vh, 7rem);
}

/* 예시 */
.active {
  color: #7c4dff; /* 원하는 강조 색상 */
  font-weight: bold;
  text-decoration: underline;
}

.notActive {
  color: red;
  font-weight: normal;
  text-decoration: none;
}
