.align-right {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.full > Button {
  width: 100%;
}
.full {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.8rem;
}

.container {
  margin-top: 0.8rem;
}
