.contentText {
  font-weight: 0;
  font-size: 1rem;
  line-height: 20px;
  color: var(--color-gray-600);

  display: flex;
  flex-direction: column;

  /* 추가 및 수정 */
  flex: 1; /* 남은 공간을 모두 차지함 */
  overflow-y: auto; /* 내용이 넘치면 스크롤 생성 */
  max-height: 460px; /* 스크롤이 생길 최대 높이 지정 (필요 시 조절) */
  /* 스크롤바 숨기기 (원하실 경우) */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.contentText::-webkit-scrollbar {
  display: none;
}
