/* DialogField.module.css */

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 20px;
}

.dialogContainer {
  background-color: var(--color-white);
  border-radius: 12px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
}

.alertDialog {
  width: 348px;
}

.customDialog {
  width: auto;
}

.childrenContainer {
  min-width: 20.5rem;
  height: 100%; /* 부모 크기에 맞춤 */
}
