.overlay {
  position: fixed;
  inset: 0; /* top:0 right:0 bottom:0 left:0 */
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center; /* 가로 가운데 */
  align-items: center; /* 세로 가운데 */
  z-index: 1000;
}

.dialogContainer {
  background: #fff;
  /* background-color: blueviolet; */
  border-radius: 12px;
  padding: 24px;
  max-width: 328px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
}
